<div class="utilitys 3u" class="3u">

  <div class="utility">
    <h2><i class="fa fa-file-text-o"></i> Recent Articles</h2>
    <% blog.articles[0...5].each do |article| %>
      <dl>
        <dt><%= link_to article.title, article %></dt>
        <dd><%= article.date.strftime('%Y-%m-%d') %></dd>
      </dl>
    <% end %>
  </div>

  <div class="utility">
    <h2><i class="fa fa-folder-open-o"></i> Tags</h2>
    <ul>
      <% blog.tags.each do |tag, articles| %>
        <li><%= link_to "#{tag} (#{articles.size})", tag_path(tag) %></li>
      <% end %>
    </ul>
  </div>

  <div class="utility">
    <h2><i class="fa fa-archive"></i> Archive</h2>
    <ul class="archive">
      <% blog.articles.group_by {|a| a.date.year }.each do |year, articles| %>
        <li><%= link_to "#{year} (#{articles.size})", blog_year_path(year) %></li>
      <% end %>
    </ul>
  </div>

</div>
