{
  "semi": true,
  "singleQuote": true,
  "printWidth": 100,
  "overrides": [
    {
      "files": "./src/**/*.ts",
      "options": {
        "semi": false
      }
    },
    {
      "files": "./src/**/*.astro",
      "options": {
        "printWidth": 256
      }
    }
  ]
}
