@charset 'utf-8';

@import 'normalize.css/normalize.css';
@import '@fortawesome/fontawesome-svg-core/styles.css';

/* Colors                       */
/* ---------------------------- */
$red:        #eb6553;
$orange:     #faad73;
$blue:       #007ba8;
$light-gray: #f9fafb;
$dark-gray:  #3f434a;
$white:      #ffffff;

/* ---------------------------- */
html {
  height: 100vh;
}

body {
  background: $white;
  color: $dark-gray;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  height: 100vh;
  overflow-x: hidden;
}

h2 {
  font-size: 1.8rem;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 2rem;
}

a {
  color: $dark-gray;

  &:active,
  &:hover {
    color: $blue;
  }
}

dl {
  margin: 0;
}

/* Layout                       */
/* ---------------------------- */
section {
  padding: 6rem 0;

  &:nth-child(even) {
    background: $light-gray;
  }
}

footer {
  padding: 2rem 0;
  text-align: right;

  p {
    margin: 0;
  }
}

.hero {
  align-items: center;
  background: $dark-gray;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;

  .avatar {
    animation: avatar-fade-in .4s ease-in;
    background: $white;
    border: 5px solid $white;
    border-radius: 50%;
    height: 192px;
    margin-bottom: .6rem;
    width: auto;
  }

  .title {
    color: $white;
    font-size: 2.5rem;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 1.4rem;
  }
}

.link {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;

  li {
    margin-right: 1.8em;

    &:last-child {
      margin-right: 0;
    }
  }
}

.link-icon {
  svg:first-child {
    color: $white;
    opacity: 0;
  }

  svg:last-child {
    color: $white;
  }

  &:active,
  &:hover {
    svg:first-child {
      opacity: 1;
    }

    svg:last-child {
      color: $dark-gray;
    }
  }
}

.about-me {
  dl {
    display: flex;
    flex-flow: row wrap;
    overflow: visible;

    dt {
      flex: 0 0 2em;
      overflow: hidden;
      text-align: center;
    }

    dd {
      flex: 0 0 calc(100% - 2em);
      margin-left: auto;
      overflow: hidden;
      text-align: left;
    }
  }
}

.likes {
  white-space: nowrap;
  &:after {
    content: ', ';
    white-space: normal;
  }
  &:last-child:after {
    content: '';
  }
}

.works {
  dt {
    display: list-item;
    font-weight: 600;
    list-style-type: square;
    margin-left: 2em;
  }

  dd {
    margin-left: 2em;
  }
}

/* Media Queries                    */
/* -------------------------------- */
$mobile-width: 480px;
$desktop-width: 1024px;

body {
  font-size: 18px;
  line-height: 2;
}

.wrap {
  margin: 0 auto;
  width: 960px;
}

/* tablet */
@media screen and (max-width: $desktop-width) {
  body {
    font-size: 17px;
    line-height: 1.7;
  }

  .wrap {
    margin: 0;
    padding: 0 20px;
    width: auto;
  }
}

/* mobile */
@media screen and (max-width: $mobile-width) {
  body {
    font-size: 15px;
    line-height: 1.6;
  }

  section {
    padding: 4rem 0;
  }

  .wrap {
    padding: 0 10px;
  }

  .hero .avatar {
    height: 128px;
    width: auto;
  }

  .link li {
    margin-right: 1.5em;
  }
}

/* Animation                        */
/* -------------------------------- */
@keyframes avatar-fade-in {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}
