.entry {
  padding-bottom: 1em;
}

.entry-header {
  margin-bottom: 1em;
}

.entry-info {
  font-size: 0.9rem;

  & > span {
    margin-right: 0.5em;

    & > .fa {
      text-align: center;
      width: 1.5em;
    }
  }
}

.footnotes {
  padding: 1em 0;

  p {
    margin: 0.5em 0;
  }
}
