.entry {
  padding-bottom: 1em;
}

.entry-header {
  margin-bottom: 1em;
}

.entry-info {
  font-size: 0.9rem;
}

.entry-info > span {
  margin-right: 0.5em;
}

.entry-info > span > .fa {
  text-align: center;
  width: 1.5em;
}

.footnotes {
  padding: 1.2em 0;

  p {
    margin: 0;
  }
}
