.footer-widgets {
  section {
    margin-bottom: 1.8em;
  }

  h4 {
    margin-bottom: .6em;

    .fa {
      margin-right: .2em;
    }
  }

  .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    & > section,
    & > .col {
      // mobile
      @media (max-width: $mobile-screen-width) {
        flex-basis: 100%;
      }

      // tablet
      @media (min-width: $mobile-screen-width + 1) and (max-width: $desktop-screen-width) {
        flex-basis: 49%;
      }

      // pc
      @media (min-width: $desktop-screen-width + 1) {
        flex-basis: 32%;
      }
    }

    .archives {
      @media (max-width: $mobile-screen-width) {
        display: none;
      }
    }

    .tag-cloud {
      @media (min-width: $mobile-screen-width + 1) and (max-width: $desktop-screen-width) {
        flex-basis: 100%;
        order: 10;
      }
    }
  }
}

.about-me .about {
  align-items: center;
  display: flex;
  flex-flow: row;

  .avatar {
    flex-basis: 64px;
    height: 64px;
    margin-right: .8em;
  }

  .icon {
    border-radius: 50%;
    width: 100%;
  }

  .info {
    flex-flow: column;
  }
}

.recent-posts ul {
  margin: 0;
  padding-left: 1.6em;
}

.tag-cloud .tag-list li {
  margin-bottom: .4em;
}

.archive-tree {
  list-style: none;
  margin: 0;
  padding-left: 1.4em;
}

.tree-toggle-button {
  cursor: pointer;
  margin-left: -1.4em;

  .fa {
    text-align: center;
    width: 1.4em;
  }
}

.tree-child {
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    flex: 0 0 50%;
  }
}

.tree-toggle {
  display: none;

  &:not(:checked) + .tree-toggle-button {
    .fa-angle-right {
      display: inline-block;
    }

    .fa-angle-down {
      display: none;
    }

    + .tree-child {
      display: none;
    }
  }

  &:checked + .tree-toggle-button {
    .fa-angle-right {
      display: none;
    }

    .fa-angle-down {
      display: inline-block;
    }

    + .tree-child {
      display: flex;
    }
  }
}
