.avatar {
  margin: 1em 0;
}
.avatar-name {
  display: inline-block;
  font-size: 1.1rem;
}

.avatar-icon {
  display: inline-block;
  border-radius: 50%;
  height: 64px;
  margin: 0 1em 0 0;
  vertical-align: middle;
  width: 64px;
}

.archive-tree {
  list-style: none;
}

.tree-toggle {
  display: none;
}

.tree-toggle-button {
  cursor: pointer;
  margin-left: -32px;

  & > .fa {
    width: 32px;
    text-align: center;
  }
}

.tree-toggle + .tree-toggle-button {
  .fa-angle-right {
    display: inline-block;
  }
  .fa-angle-down {
    display: none;
  }
  & + .tree-child {
    display: none;
  }
}

.tree-toggle:checked + .tree-toggle-button {
  .fa-angle-right {
    display: none;
  }
  .fa-angle-down {
    display: inline-block;
  }
  & + .tree-child {
    display: block;
  }
}
