.avatar {
  margin: 1em 0;
}
.avatar-name {
  display: inline-block;
  font-size: 1.1rem;
}

.avatar-icon {
  display: inline-block;
  border-radius: 50%;
  height: 64px;
  margin: 0 1em 0 0;
  vertical-align: middle;
  width: 64px;
}

.archive li {
  float: left;
  list-style-type: none;
  margin: 0;
  width: 50%;
}
