@charset 'utf-8';

@import 'compass/reset';
@import 'font-awesome-sprockets';
@import 'font-awesome';

// Colors
// ----------------------------
$red:        #eb6553;
$orange:     #faad73;
$blue:       #007ba8;
$light-gray: #f9fafb;
$mid-gray:   darken($light-gray, 10%);
$dark-gray:  #3f434a;
$white:      #ffffff;

// ----------------------------
@import url(https://fonts.googleapis.com/css?family=Raleway:400,600);

html {
  height: 100%;
}

body {
  background: $white;
  color: $dark-gray;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  height: 100%;
  overflow-x: hidden;
}

h2 {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

a {
  color: $dark-gray;

  &:active,
  &:hover {
    color: $blue;
  }
}

// Layout
// ----------------------------
section {
  padding: 6rem 0;

  &:nth-child(even) {
    background: $light-gray;
  }
}

footer {
  padding: 2rem 0;
  text-align: right;
}

.hero {
  align-items: center;
  background: $dark-gray;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;

  .avatar {
    animation: avatar-fade-in .4s ease-in;
    background: $white;
    border: 5px solid $white;
    border-radius: 50%;
    height: 192px;
    margin-bottom: 1.5rem;
    width: auto;
  }

  .title {
    color: $white;
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
  }
}

.link {
  align-items: center;
  display: flex;
  justify-content: center;

  a {
    margin-right: 2.5em;

    &:last-child {
      margin-right: 0;
    }
  }
}

.link-icon {
  .fa {
    color: $white;
  }

  .fa-square {
    opacity: 0;
  }

  &:active,
  &:hover {
    .fa {
      color: $dark-gray;
    }

    .fa-square {
      color: $white;
      opacity: 1;
    }
  }
}

.about-me {
  dl {
    display: flex;
    flex-flow: row wrap;
    overflow: visible;

    dt {
      flex: 0 0 2em;
      overflow: hidden;
      text-align: center;
    }

    dd {
      flex: 0 0 calc(100% - 2em);
      margin-left: auto;
      overflow: hidden;
      text-align: left;
    }
  }
}

// .works {
// }

// Media Queries
// --------------------------------
$mobile-width: 480px;
$desktop-width: 1024px;

// mobile
@media screen and (max-width: $mobile-width) {
  body {
    font-size: 15px;
    line-height: 1.6;
  }

  section {
    padding: 4rem 0;
  }

  .wrap-container {
    padding: 0 10px;
  }

  .hero .avatar {
    height: 128px;
    width: auto;
  }

  .link a {
    margin-right: 1.5em;
  }
}

// tablet
@media screen and (min-width: $mobile-width + 1) and (max-width: $desktop-width - 1) {
  body {
    font-size: 17px;
    line-height: 1.7;
  }

  .wrap-container {
    padding: 0 20px;
  }
}

// desktop
@media screen and (min-width: $desktop-width) {
  body {
    font-size: 18px;
    line-height: 2;
  }

  .wrap-container {
    margin: 0 auto;
    width: 960px;
  }
}

// Animation
// --------------------------------
@keyframes avatar-fade-in {
  0%, 20% {
    opacity: 0;
    transform: scale(0);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}
