<% wrap_layout :default do %>
  <div id="content" class="12u">
    <article class="entry">
      <header>
        <h1><%= link_to current_page.data.title, current_page %></h1>
      </header>

      <div class="text">
        <%= yield %>
      </div>
    </article>

  </div>
<% end %>
