.list {
  .filter {
    background: $light-gray;
    padding: 1.8em 0;
  }

  .items {
    padding-top: 1.8em;
  }

  article {
    padding-bottom: 1.8em;

    &:not(:last-child) {
      border-bottom: 1px solid $mid-gray;
      margin-bottom: 1.8em;
    }
  }

  .post-header {
    margin-bottom: 1.8em;

    h1 {
      line-height: 1.2;
      margin: 0 0 .2em;
    }
  }
}

.list-nav {
  .prev {
    flex-basis: 32%;
  }

  .counter {
    flex-basis: 32%;
    text-align: center;
  }

  .next {
    flex-basis: 32%;
    text-align: right;
  }
}
