.post {
  .post-header {
    background: $light-gray;
    margin-bottom: 1.8em;
    padding: 1.8em 0;

    h1 {
      line-height: 1.2;
      margin: 0 0 .2em;
    }
  }
}

.post-meta {
  align-items: baseline;
  display: flex;
  flex-flow: row;
  font-size: .8em;
  list-style: none;
  margin: 0;
  min-height: 1.8em;
  padding: 0;

  & > li {
    display: flex;
    margin-right: .4em;
  }

  @media (max-width: $mobile-screen-width) {
    .time {
      display: none;
    }
  }
}

// http://www.nxworld.net/tips/css-tag-cloud.html
.tag-list {
  display: flex;
  flex-flow: row wrap;
  font-size: .8em;
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    display: flex;
    flex-grow: 1;

    &:not(:last-child) {
      margin-right: .4em;
    }
  }

  a {
    background-color: $white;
    border: 1px solid $mid-gray;
    color: $font-color;
    overflow: hidden;
    padding: 0 1em;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;

    &:hover {
      background-color: $blue;
      border: 1px solid $blue;
      color: $white;
    }
  }
}

.post-contents {
  blockquote {
    background: $light-gray;
    border-left: .6em solid $mid-gray;
    line-height: 1.4em;
    margin-left: 0;
    margin-right: 0;
    padding: .4em 1.6em;

    &:before {
      content: "â";
      display: inline;
      font-size: 2.8em;
      line-height: 0;
      position: relative;
      top: 30px;
      left: -16px;
      color: $mid-gray;
    }

    pre {
      padding: 0;
    }
  }

  hr {
    border-bottom: 1px solid $mid-gray;
    border-left: 0;
    border-right: 0;
    border-top: 0;
  }

  figure figcaption {
    display: none;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    max-width: 100%;
  }

  pre {
    background: $light-gray;
    font-family: $font-family-mono;
    line-height: 1.4em;
    overflow-x: auto;
    padding: 1em;
  }

  p code {
    background: $light-gray;
    font-size: .9em;
    padding: .2em .4em;
  }

  sup > a::before {
    content: '*';
  }

  table:not(.highlight) {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;

    @media (max-width: $desktop-screen-width) {
      display: block;
      width: fit-content;
      max-width: 100%;
      white-space: nowrap;
      overflow-x: auto;
    }

    th {
      background: $light-gray;
    }

    th,
    td {
      border: 1px solid $mid-gray;
      padding: .2em 1em;
    }

    tbody {
      background-color: $white;
    }
  }

  ul {
    padding-left: 1.4em;
  }

  .video-container {
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    padding-top: 30px;
    position: relative;

    embed,
    iframe,
    object {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }

  .footnotes {
    padding: 1em 0;

    p {
      margin: .4em 0;
    }
  }
}

.comments {
  padding-bottom: 1.8em;
}

.post-nav {
  .prev {
    flex-basis: 48%;
  }

  .next {
    flex-basis: 48%;
    text-align: right;
  }
}
