.share {
  align-items: center;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  margin-bottom: 1.8em;

  .share-button {
    flex-basis: 22.5%;
  }
}

.share-button {
  align-items: center;
  display: flex;
  flex-flow: row;
  height: 2.4em;
  justify-content: center;
  overflow: hidden;

  img {
    display: flex;
    height: 1.33333em;
  }

  span {
    display: flex;
    font-size: .9em;
    margin-left: .8em;

    @media (max-width: $mobile-screen-width) {
      display: none;
    }
  }

  &:active,
  &:hover,
  &:link,
  &:visited {
    color: $white;
    text-decoration: none;
  }
}

.twitter {
  @include button-bg(#1da1f2);
}

.hatena {
  @include button-bg(#00a4de);
}

.google-plus {
  @include button-bg(#c93725);
}

.pocket {
  @include button-bg(#ee4056);
}
