@charset 'utf-8';

/*
--------------------------------*/
html {
  overflow-y: scroll;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
}
body {
  background-color: #fafafa;
  color: #252628;
  font-family: Roboto,'Droid Sans',Meiryo,'Hiragino Kaku Gothic ProN',sans-serif;
  font-size: 14px;
  line-height: 1.6;
  overflow-x: hidden;
}

h1 {
  margin: 10px 0;
  font-size: 200%;
  font-weight: bold;
  line-height: 1.0;
}
h2 {
  margin: 20px 0;
  padding: 0 15px;
  font-size: 180%;
  font-weight: bold;
  border-left: 8px solid #bb3e3e;
}
h3 {
  margin: 20px 0;
  padding: 0 15px;
  font-size: 160%;
  font-weight: bold;
  border-left: 8px solid #fcb041;
}
h4 {
  margin: 20px 0;
  font-size: 140%;
  font-weight: bold;
}
h5 {
  margin: 20px 0;
  font-size: 130%;
  font-weight: bold;
}
h6 {
  margin: 20px 0;
  font-size: 110%;
  font-weight: bold;
}

p {
  margin: 20px 0;
}
p code {
  margin: 0 2px;
  padding: 2px;
  background: #fff;
  border: 1px solid #cbcbcb;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
}
em {
  font-style: italic;
}
strong {
  font-style: normal;
  font-weight: bold;
}

a:link, a:visited {
  color: #428bca;
  text-decoration: none;
}
a:active, a:hover {
  color: #2d2d2d;
  text-decoration: underline;
}

img {
  margin: 20px 0;
  border: 1px #ddd solid;
}

ul {
  margin: 20px 0;
  list-style: none;
}
ol {
  margin: 20px 0;
}
li {
  margin: 10px 0;
}
.inline li {
  display: inline;
  margin-right: 5px;
}

dl {
  margin: 20px 0;
}
dt {
  font-weight: bold;
}
dd {
  margin: 5px 0 10px 20px;
}

pre {
  border: none;
  background: #fff;
  padding: 0;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  margin-bottom: 40px;
  white-space: pre;
  overflow-x: auto;
  word-break: normal;
  word-wrap: normal;
}
pre .code {
  display: block;
}
.lineno {
  margin: 0;
  padding: 12px;
  background-color: transparent;
  border: none;
  color: #999;
}
.hl {
  margin: 20px 0;
}
.hl .gutter {
  width: 50px;
}
.hl td.gutter,
.hl td.code {
  padding: 0;
  border: solid 1px #ddd;
}
.hl pre {
  margin: 0;
}
.hl .code {
  width: calc(100% - 50px);
  overflow-y: scroll;
}
.hl .code pre {
  padding: 12px;
}
.hl table {
  width: 100%;
  table-layout: fixed;
}

blockquote {
  margin: 20px 0;
  padding: 10px 20px;
  background: #ececec;
  border: 1px #ddd solid;
}

table:not(.highlight) {
  margin: 20px 0;
  border-collapse: collapse;
}
table:not(.highlight) caption {
  padding-bottom: 5px;
}
table:not(.highlight) th,
table:not(.highlight) td {
  padding: 5px;
  border: 1px #ddd solid;
}
table:not(.highlight) thead th {
  padding: 5px 20px;
  background: #ececec;
  text-align: center;
}
table:not(.highlight) tbody {
  background-color: #fff;
}

.continue {
  display: inline-block;
  margin: 10px 0;
}
.continue li {
  list-style-type: none;
  margin: 0;
}
.continue li a {
  text-decoration: none;
}

.required {
  color: #cb636c;
}

.pagination {
  margin: 20px 0;
}
.pagination span a {
  padding: 4px 12px;
  line-height: 20px;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #cbcbcb;
}
.prev {
  float: left;
}
.next {
  float: right;
}
.pagination:after {
  display: block;
  clear: both;
  content: "";
  overflow: hidden;
  height: 0;
}

/* Layout
--------------------------------*/
/* header */
.header {
  background: #252628;
  color: #f4f5fb;
  border-top: 5px solid #428bca;
  padding: 10px 0;
}
.title a:link, .title a:visited {
  color: #f4f5fb;
  text-decoration: none;
}
.title a:active, .title a:hover {
  color: #bababa;
  text-decoration: none;
}

/* main */
.main {
  padding: 20px 0;
}

/* content */
article {
  margin: 0 0 40px;
  padding: 0 0 20px;
  border-bottom: 1px solid #ddd;
}
article header {
  margin: 0;
  padding: 0 0 10px;
  font-size: 90%;
  color: #999;
}
article footer {
  margin: 0;
  padding: 20px 0 0;
}
article footer span {
  float: left;
  overflow: hidden;
}
article footer:after {
  display: block;
  clear: both;
  content: "";
  overflow: hidden;
  height: 0;
}
article header ul {
  margin: 10px 0 0;
}
.text img {
  max-width: 560px;
  height: auto;
}
.text ul {
  margin-left: 30px;
  list-style-type: square;
}
.text ol {
  margin-left: 30px;
  list-style-type: decimal;
}
.text dl dt {
  font-weight: bold;
}

/* sidebar */
.sidebar section {
  margin: 0 0 20px;
  padding: 0 0 20px;
  border-bottom: 1px solid #ddd;
}
.sidebar section h2 {
  font-size: 120%;
  padding: 0;
  border: none;
}
.sidebar section dl dt {
  float: left;
}
.sidebar section dl dd {
  float: right;
  margin: 0;
}
.sidebar section dl:after {
  display: block;
  clear: both;
  content: "";
  overflow: hidden;
  height: 0;
}
.archive li {
  float: left;
  width: 50%;
}
.archive:after {
  display: block;
  clear: both;
  content: "";
  overflow: hidden;
  height: 0;
}
.avatar {
  text-align: center;
}
.avatar img {
  max-width: 80%;
  margin: 0;
}
.tags {
  margin: 10px 20px;
  list-style-type: square;
}

/* Footer */
.footer {
  margin: 0;
  padding: 10px 0;
  color: #f4f5fb;
  background: #2d2d2d;
  text-align: right;
}
