@import 'compass/css3/inline-block';
@import 'compass/reset';
@import 'compass/typography/lists/inline-list';
@import 'compass/utilities/general/clearfix';
@import 'susy';
@import 'variables';

/* mixin
--------------------------------*/
@mixin button_bg($color) {
  background: $color;

  &:active, &:hover {
    background: darken($color, 20%);
  }
}

/* 
--------------------------------*/
html {
  overflow-x: hidden;
  overflow-y: scroll;
}

body {
  background: $white;
  color: $font_color;
  font-family: $font-family;
  overflow-x: hidden;
}

// heading
#{headings()} {
  font-weight: bold;
}
h1 {
  font-size: 200%;
}
h2 {
  border-left: 8px solid $red;
  font-size: 180%;
  margin: 20px 0;
  padding: 0 15px;
}
h3 {
  border-left: 8px solid $orange;
  font-size: 160%;
  margin: 20px 0;
  padding: 0 15px;
}
h4 {
  font-size: 140%;
  margin: 10px 0;
}
h5 {
  font-size: 130%;
  margin: 10px 0;
}
h6 {
  font-size: 110%;
  margin: 10px 0;
}

// text
p {
  margin: 20px 0;

  code {
    background: $white;
    border: 1px solid $light-gray;
    font-family: $font_family_mono;
    margin: 0 2px;
    padding: 2px;
  }
}
em {
  font-style: italic;
}
strong {
  font-style: normal;
  font-weight: bold;
}
sup {
  font-size: 0.8em;

  a:before {
    content: "*";
  }
}

// link
a {
  &:link, &:visited {
    color: $blue;
    text-decoration: none;
  }
  &:active, &:hover {
    color: $blue;
    text-decoration: underline;
  }
}

// list
dl {
  margin: 20px 0;
}
dt {
  font-weight: bold;
}
dd {
  margin: 5px 0 10px 20px;
}

ul {
  list-style-type: circle;
  margin: 10px 0;
}
ol {
  list-style-type: decimal;
  margin: 20px 0;
}
li {
  margin-left: 25px;
  padding: 3px 0;
}

.il {
  @include inline-list;

  li {
    margin-right: 10px;
  }
}

.archive li {
  float: left;
  list-style-type: none;
  margin: 0;
  width: 50%;
}

.list_icon {
  display: inline-block;
  text-align: center;
  width: 20px;
}

blockquote {
  background: $off-white;
  border: 1px solid $light-gray;
  font-size: 110%;
  margin: 20px 0;
  padding: 10px 20px;
}

aside {
  background: $off-white;
  border: 1px solid $light-gray;
  margin-bottom: 20px;
  padding: 0 20px;
}

// image
img {
  border: 1px solid $light-gray;
  margin: 20px 0;
  max-width: 100%;
}

// code
pre {
  background: $white;
  border: 1px solid $light-gray;
  font-family: $font_family_mono;
  margin: 20px 0;
  overflow-x: auto;
  padding: 10px;
  white-space: pre;
  word-break: normal;
  word-wrap: normal;
}

// table
table:not(.highlight) {
  border-collapse: collapse;
  margin: 20px 0;

  caption {
    padding-bottom: 5px;
  }
  th, td {
    border: 1px solid $light-gray;
    padding: 5px;
  }
  thead th {
    background: $light-gray;
    padding: 5px 20px;
    text-align: center;
  }
  tbody {
    background-color: $white;
  }
}

article, section {
  border-bottom: 1px solid $light-gray;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

header {
  margin-bottom: 20px;

  ul {
    font-size: 90%;
  }
}

hr {
  background: $light-gray;
  border: none;
  height: 1px;
}

.pagination {
  margin: 20px 0;
  padding-bottom: 20px;

  span {
    @include button_bg($off-white);
    border: 1px solid $light-gray;
    padding: 10px 20px;
  }

  .prev {
    float: left;
  }
  .next {
    float: right;
  }
}

.tag {
  @include button_bg($off-white);
  border: 1px solid $light-gray;
  margin-right: 5px;
  padding: 2px;
}

// share
.share {
  border-bottom: 1px solid $light-gray;
  margin-bottom: 20px;
  padding-bottom: 20px;
  overflow: hidden;

  @include with-layout(5 .2) {
    a {
      span {
        @include span(1 of 5);

        font-size: 130%;
        height: 1em;
        line-height: 1;
        padding: 10px 0;
        text-align: center;
        vertical-align: middle;
      }

      &:last-child span {
        @include span(1 last);
      }

      &:link, &:visited, &:active, &:hover {
        color: $white;
        text-decoration: none;
      }
    }
  }
}
.twitter {
  @include button_bg(#55acee);
}
.hatena {
  @include button_bg(#007bca);
}
.pocket {
  @include button_bg(#ed4055);

  svg {
    width: 17px;
    height: 16px;
    fill: $white;
  }
}
.google_plus {
  @include button_bg(#c93725);
}
.adn {
  @include button_bg(#4a484d);
}
.fa-hatena:before {
  content: "B!";
  font-family: Verdana;
  font-weight: bold;
}

// clearfix
.cf {
  @include clearfix;
}

/* Layout
--------------------------------*/
body {
  @media screen and (max-width: $mobile_width - 1) {
    font-size: $font_size_s;
    line-height: $line-height_s;
  }
  @media screen and (min-width: $mobile_width) and (max-width: $desttop_width - 1) {
    font-size: $font_size_m;
    line-height: $line-height_m;
  }
  @media screen and (min-width: $desttop_width) {
    font-size: $font_size;
    line-height: $line-height;
  }
}

.container {
  @media screen and (max-width: $desttop_width - 1) {
    @include container(95%);
  }
  @media screen and (min-width: $desttop_width) {
    @include container;
  }
}

// header
#header {
  background: $dark-gray;
  padding: 10px 0;

  a:link, a:visited, a:active, a:hover {
    color: $white;
    text-decoration: none;
  }
}

// main column
#main {
  padding: 20px 0;
}

#content {
  @media screen and (min-width: $mobile_width) {
    @include span(9);
  }
}

#side {
  @media screen and (min-width: $mobile_width) {
    @include span(last 3);
  }
}

// footer
#footer {
  background: $dark-gray;
  color: $white;
  padding: 10px 0;
  text-align: right;
}
