@charset "utf-8";

@import 'compass/reset';
@import 'font-awesome-sprockets';
@import 'font-awesome';

// Colors
// ----------------------------
$red:        #e74c3c;
$orange:     #f39c12;
$blue:       #3399CC;
$green:      #25ba84;
$light-gray: #f5f5f5;
$mid-gray:   #666666;
$dark-gray:  #3f434a;
$white:      #ffffff;

// ----------------------------
@import url(https://fonts.googleapis.com/css?family=Raleway:400);

html {
  height: 100%;
}

body {
  background: $white;
  color: $mid-gray;
  font-family: 'Raleway', sans-serif;
  height: 100%;
  overflow-x: hidden;
}

h2 {
  color: $dark-gray;
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

a {
  color: $mid-gray;

  &:active,
  &:hover {
    color: darken($mid-gray, 20%);
  }
}

// Layout
// ----------------------------
section {
  padding: 6rem 0;

  &:nth-child(even) {
    background: $light-gray;
  }
}

footer {
  padding: 2rem 0;
  text-align: right;
}

.hero {
  align-items: center;
  background: $dark-gray;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;

  .avatar {
    animation: avatar-fade-in .4s ease-in;
    background: $white;
    border: 5px solid $white;
    border-radius: 50%;
    margin-bottom: 1.5rem;
  }

  .title {
    color: $white;
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
  }
}

.link {
  align-items: center;
  display: flex;
  justify-content: center;

  a {
    color: $mid-gray;
    margin-right: 2.5em;
    text-align: center;

    &:last-child {
      margin-right: 0;
    }
  }

  i {
    border-radius: 8px;
    color: $white;
    height: 1em;
    padding: .4em;
    width: 1em;

    &:active,
    &:hover {
      background: $white;
      color: $dark-gray;
    }
  }
}

.about-me {
  i {
    text-align: center;
    width: 2em;
  }
}

// .works {
// }

// Media Queries
// --------------------------------
$mobile-width: 480px;
$desktop-width: 1024px;

// mobile
@media screen and (max-width: $mobile-width) {
  body {
    font-size: 15px;
    line-height: 1.6;
  }

  section {
    padding: 4rem 0;
  }

  .wrap-container {
    padding: 0 10px;
  }

  .avatar {
    height: 128px;
    width: auto;
  }

  .link a {
    margin-right: 1.5em;
  }
}

// tablet
@media screen and (min-width: $mobile-width + 1) and (max-width: $desktop-width - 1) {
  body {
    font-size: 17px;
    line-height: 1.7;
  }

  .wrap-container {
    padding: 0 20px;
  }
}

// desktop
@media screen and (min-width: $desktop-width) {
  body {
    font-size: 18px;
    line-height: 2;
  }

  .wrap-container {
    margin: 0 auto;
    width: 960px;
  }
}

// Animation
// --------------------------------
@keyframes avatar-fade-in {
  0%, 20% {
    opacity: 0;
    transform: scale(0);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}
