---
const { class: classNames, tag } = Astro.props;
---

<a class:list={['whitespace-nowrap border border-slate-300 bg-white px-3 py-0.5 text-center text-xs hover:bg-sky-700 hover:text-white', classNames]} href={`/blog/tags/${tag}/`}>
  {tag}
</a>
