// colofs
$red:        #e74c3c;
$orange:     #f39c12;
$blue:       #3399CC;
$green:      #25ba84;
$off-white:  #fafafa;
$light-gray: #eeeeee;
$mid-gray:   #b1b4b9;
$dark-gray:  #484d55;
$white:      #ffffff;
