---
title: "Archive: "
layout: default
pageable: true
per_page: 3
---
ruby:
  case page_type when 'day'
    date = ['Daily', Date.new(year, month, day).strftime('%Y-%m-%d')]
  when 'month'
    date = ['Monthly', Date.new(year, month).strftime('%Y-%m')]
  when 'year'
    date = ['Yearly', Date.new(year).strftime('%Y')]
  end

- content_for :title, date[1]

#content
  aside
    = "#{date[0]} Archives: <strong>#{date[1]}</strong>."

  = partial 'partials/article_list'

  - if paginate && num_pages > 1
    .pagination
      - if prev_page && page_number > 1
        a href = prev_page.url
          span.prev &laquo; Newer

      - if next_page && page_number < num_pages
        a href = next_page.url
          span.next Older &raquo;

= partial 'partials/sidebar'
