---
import type { SiteProps } from '@/types';
import type { BlogSchema } from '@/content/_schema';
import Blog from '@/layouts/Blog.astro';
import LinkToTagPage from '@/components/LinkToTagPage.astro';

import { Calendar, Tag } from 'lucide-preact';

export interface Props extends SiteProps {
  frontmatter: BlogSchema;
}

const { frontmatter: data, ...props } = Astro.props;
---

<Blog {...props}>
  <main class="text-darkgray">
    <article>
      <header class="mb-7 bg-gray-50 py-7">
        <div class="container mx-auto px-2 py-2">
          <h1 class="mb-4 text-4xl font-bold">
            {data.title}
          </h1>
          <div class="flex flex-row items-center text-sm">
            <Calendar />
            <span class="ml-2">{data.date}</span>
            {
              data.tags.length > 0 && (
                <>
                  <Tag class="ml-4" />
                  {data.tags.map((t) => (
                    <span class="ml-2">
                      <LinkToTagPage tag={t} />
                    </span>
                  ))}
                </>
              )
            }
          </div>
        </div>
      </header>
      <div class="container mx-auto mb-7 px-2">
        <div class="prose">
          <style is:inline>
            section.footnotes {
              font-size: 0.75rem;
              padding-top: 0.75rem;
            }
            .sr-only {
              display: none;
            }
          </style>
          <slot />
        </div>
      </div>
    </article>
  </main>
</Blog>
