---
title: About
---
= wrap_layout :default do
  h1
    = link_to data.site.author.name, '/about'

  #content.4u
    p.avatar
      img src == data.site.author.avatar alt = 'avatar'

    section
      h2 Detail

      dl
        dt 職業?
        dd 出遅れ過ぎた情報系学生

        dt 住んでるところ
        dd 愛知県豊橋市

    section
      h2 Link

      dl
        - if data.site.author.twitter.present?
          dt
            i.fa.fa-twitter
            | Twitter
          dd
            = link_to "@#{data.site.author.twitter}", "https://twitter.com/#{data.site.author.twitter}"

        - if data.site.author.github.present?
          dt
            i.fa.fa-github-square
            | GitHub
          dd
            = link_to "#{data.site.author.github}", "https://github.com/#{data.site.author.github}"

        - if data.site.author.bitbucket.present?
          dt
            i.fa.fa-bitbucket
            | Bitbucket
          dd
            = link_to "#{data.site.author.bitbucket}", "https://bitbucket.org/#{data.site.author.bitbucket}"

        - if data.site.author.youtube.present?
          dt
            i.fa.fa-youtube
            | YouTube
          dd
            = link_to "#{data.site.author.youtube}", "http://www.youtube.com/user/#{data.site.author.youtube}"

        - if data.site.author.flickr.present?
          dt
            i.fa.fa-flickr
            | Flickr
          dd
            = link_to "#{data.site.author.flickr}", "https://www.flickr.com/photos/#{data.site.author.flickr}"

        - if data.site.author.amazon.present?
          dt
            i.fa.fa-gift
            | Amazon
          dd
            = link_to "Wishlist", "http://www.amazon.co.jp/registry/wishlist/#{data.site.author.amazon}"

  #content.8u
    section
      h2 Hobby

      dl
        dt Programming
        dd C++書けるようになりたい. RubyやJavaScriptにも興味あり

        dt Android端末
        dd
          | Xperia 2011愛してる
          i.fa.fa-arrow-right
          a title = 'Xperia2011年モデル改造まとめ' href = '/blog/2014-09-26/Xperia2011_Modding_Guide' Xperia2011年モデル改造まとめ

        dt ネットワーク機器/サーバ管理
        dd 趣味でいろいろサーバを扱うことになりました

    section
      h2 Like

      ul
        li Linux (好きなディストリはArchLinuxやRHEL系など)
        li Android
        li Intel Sandy Bridge Microarchitecture
        li Sony Vaio

    section
      h2 Dislike

      ul
        li Micro$oftとその製品
        li Wine (非Win環境で無理矢理Winアプリを動かそうとするProject)
        li 日本語
        li マルチバイト文字

    section
      h2 Work setup

      dl
        dt PC / Server
        dd Vaio Z 2012, 自作機等. だいたいArchLinuxが入ってる

        dt Editor
        dd Vim

        dt Blowser
        dd Chromium

        dt Photo Editor
        dd GIMP, RawTherapee

        dt Camera
        dd Canon S110

        dt BGM
        dd いろいろ聴く. EDM, Dubstepだとか激しめなものや東方アレンジなんかも
