<section class="bigheader">
  <div class="content">
    <img src="http://www.gravatar.com/avatar/a8648d613afd1ec0c84bb04973c98ad2.png?s=256" alt="avatar">
    <h1>Tosainu</h1>
  </div>
</section>

<section class="about">
  <div class="wrap">
    <h2>About Me</h2>

    <div class="clear">
      <ul class="col">
        <li><span class="icon"><i class="fa fa-user"></i></span> Tosainu</li>
        <li><span class="icon"><i class="fa fa-map-marker"></i></span> Aichi, Japan</li>
        <li><span class="icon"><i class="fa fa-book"></i></span> Student of ToyotaNCT</li>
        <li><span class="icon"><i class="fa fa-star"></i></span> Arch Linux, Vim, Programing, etc...</li>
      </ul>

      <div class="col">
        <div class="link">
          <a href="https://twitter.com/myon___">
            <span class="icon-3x"><i class="fa fa-3x fa-twitter"></i></span>Twitter
          </a>

          <a href="https://github.com/Tosainu">
            <span class="icon-3x"><i class="fa fa-3x fa-github"></i></span>GitHub
          </a>
        </div>

        <div class="link">
          <a href="http://blog.myon.info/">
            <span class="icon-3x"><i class="fa fa-3x fa-pencil"></i></span>Blog
          </a>

          <a href="http://tosainu.bitbucket.org/slides/">
            <span class="icon-3x"><i class="fa fa-3x fa-desktop"></i></span>Slides
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="works">
  <div class="wrap">
    <h2>Works</h2>
    <p>ｱﾋｬﾋｬﾋｬ(ﾟ∀ﾟ≡ﾟ∀ﾟ)ﾋｬﾋｬﾋｬ</p>
  </div>
</section>
