$screen-width-mobile: 640px;
$screen-width-desktop: 1280px;

.container {
  margin: 0 auto;

  @media (max-width: $screen-width-desktop) {
    max-width: 1024px;
    width: calc(100vw - 2rem);
  }

  @media (min-width: $screen-width-desktop) {
    max-width: 1280px;
    width: calc(100vw - 8rem);
  }
}
