$mobile-screen-width: 640px;
$desktop-screen-width: 1024px;
$wide-screen-width: 1200px;

.container {
  margin: 0 auto;
  width: 960px;

  @media (max-width: $desktop-screen-width) {
    width: 93.75%;
  }
}
