$font-color: $dark-gray;

$font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, sans-serif;
$font-family-mono: Consolas, Menlo, Monaco, monospace;

body {
  color: $font-color;
  font-family: $font-family;
  font-size: 16px;
  line-height: 1.825;
  text-rendering: optimizeLegibility;

  @media (min-width: $wide-screen-width) {
    font-size: 18px;
  }
}

code {
  font-family: $font-family-mono;
}

a {
  &:link,
  &:visited {
    color: $blue;
    text-decoration: none;
  }

  &:active,
  &:hover {
    color: $blue;
    text-decoration: underline;
  }
}
